 fonts/Material-Design-Iconic-Font.ttf_v=2.2.0
        fonts/Material-Design-Iconic-Font.woff2_v=2.2.0
        fonts/Material-Design-Iconic-Font.woff_v=2.2.0
        fonts/fontawesome-webfont.eot_
        fonts/fontawesome-webfont.eot_v=4.7.0
        fonts/fontawesome-webfont.svg_v=4.7.0
        fonts/fontawesome-webfont.ttf_v=4.7.0
        fonts/fontawesome-webfont.woff2_v=4.7.0
        fonts/fontawesome-webfont.woff_v=4.7.0
        fonts/glyphicons-halflings-regular.eot_.html